.chat-status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 7px 3px;
  background: #bac7a7;
  z-index: index 2;
}

#chat-screen .alt-header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #bac7a7;
  box-sizing: border-box;
}

#chat-screen {
  background-color: #bac7a7;
  height: 100vh;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIN {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  animation: fadeIN 0.3s linear;
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 15px;
  border-radius: 16px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 28px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 7px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 8px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 8px 15px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  color: white;
  background-color: #698474;
  border-top-right-radius: 0px;
  border-top-left-radius: 13px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 10px 5px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply button {
  position: absolute;
  right: -3px;
  top: 4px;
}

.reply__column:last-child i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: #698474;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply i {
  opacity: 0.5;
}

.reply__column button i {
  opacity: 1;
}

.reply .fa-plus-square,
.reply .fa-laugh,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .fa-plus-square,
.reply:focus-within .fa-laugh,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-11%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
